 <nav class="flex items-center">
    <div class="bg-white rounded-full flex p-1 grow">
      <input type="text" class="bg-white p-1 outline-none grow rounded-full mr-1" placeholder="Enter location..">
      <button class="bg-amber-600 p-2 rounded-full"><img src="../assets/searchIcon.svg" alt=""
          class="w-7 h-7"></button>
    </div>

    <div>
       <button class="bg-amber-600 p-2 rounded-full ml-1 border-3 border-white"><img src="../assets/location.svg" alt=""
          class="w-7 h-7"></button>
    </div>
  </nav>